/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 16rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url('/static/img/1290521.jpg');
  background-size: cover; /* 确保背景图片覆盖整个横幅区域 */
  background-position: top; /* 背景图片位置 */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
